* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  color: #000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  font-size: 32px;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
  margin: 60px 0;
}

.cart {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s 0s;
  &--open {
    max-height: 1000px;
    transition: max-height 0.5s 0.3s;
    & > .cart__item {
      opacity: 1;
      transition: opacity 0.3s 0s;
    }
  }
  &__item {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s 0.5s;
    &Img {
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      height: 120px;
      width: 190px;
    }
  }
  &Bttn {
    margin: 15px 0;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #000;
    font-size: 12px;
    position: relative;
    height: 36px;
  }
}

.calc {
  display: flex;
  &__inputBttn {
    padding: 5px;
  }
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &__item {
    margin: 10px;
    min-height: 320px;
    width: 250px;
    text-align: center;
    padding: 10px 30px 66px 30px;
    border: 1px solid #f5f5f5;
    position: relative;
    &Img {
      width: 100%;
      height: 110px;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      margin: 20px 0;
    }
    &Name {
      text-align: center;
      margin: 10px 0;
    }
    &Price {
      text-align: center;
      margin: 10px 0;
      font-weight: 700;
      &:after {
        content: 'zł';
      }
    }
    &Bttn {
      margin: 15px 0;
      padding: 5px 10px;
      background: transparent;
      border: 1px solid #000;
      font-size: 12px;
      position: relative;
      position: absolute;
      height: 36px;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      &--hide {
        display: none;
      }
    }
  }
}